# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
HelloWorld/HelloWorld/HelloWorld/x64/
HelloWorld/HelloWorld/.vs/HelloWorld/v17/.suo
HelloWorld/HelloWorld/.vs/
HelloWorld/HelloWorld/x64/Debug/HelloWorld.pdb
HelloWorld/HelloWorld/HelloWorld/HelloWorld.vcxproj.user
HelloWorld/x64/
HelloWorld/.vs/HelloWorld/FileContentIndex/a2d27bec-4983-4a9b-86ab-7d64a63743fc.vsidx
HelloWorld/.vs/
